#content {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    width: 450px;
    height: 240px;
    margin-top: 10px;
    overflow-y: scroll;
    padding: 5px;
}

#input { 
	border-radius:2px; 
	border:1px solid #ccc;
	margin-top:15px; 
	padding:5px; 
	width:400px; 
}

#btn {
	float: right;
	margin-top:15px; 
	padding:5px; 
}

p { 
	line-height:18px; 
}

div { 
	width:500px; 
	margin-left:auto; 
	margin-right:auto;
}

* { 
	font-family:tahoma; 
	font-size:12px; 
	padding:0px; 
	margin:0px; 
}